/* 
    Author: Erin Weaver
    Create Date: 28 March 2021
    Revised: 17 April 2021
    
    Description: This is the style.css file for my portfolio of e-learning development work. It contains all stylistic components for my portfolio 
    website except those related to navigation.
*/  

/*All Non-Home Pages*/
.wrapper{
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #f4e3cf;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 90%;
    background-position:bottom
}

.title {
    color: #fff1d6;
    background-color: #728560;
    padding: 0px 10px 0px 10px;
    min-width: 150px;
    max-width: 500px; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px 0;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.text { 
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
}

.baseline {
    background-color:#172214;
    display: flex;
    flex-direction: column; 
    width: 100%; 
    border-top: solid 10px #728560;
    text-align: center;
    color:#f4e3cf; 
}  

.baseline a:link, .baseline a:active{
    color:#E19F8E;
}

.baseline a:visited, .baseline a:hover{
    color: goldenrod;
  }
  
/*Full-Sized Home Page*/

.hwrapper{
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #f4e3cf;
    background-image: url("flowers-com.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 90%;
    background-position:bottom
}

.htitle{
    font-family: 'Josefin sans', sans-serif;
    }

#welcome {
    color: #d0684e;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 30pt
    }

.htext { 
    font-family: 'Open Sans', sans-serif; 
    color: black;
    line-height: 175%;
    margin-bottom: 25px;
    margin-top: 0px; 
    font-size: 14pt; 
    margin-left: 20px;
    margin-right: 20px;
    }

.hsubtitle{
    color: #728560;
    font-size: 20pt;
}

.content-box{
    background-color: #fff1d6;
    width: 75%;
    text-align: center;
    justify-self: center; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px; 
    align-self: center;
    border-radius: 50px 0px; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.quickbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Erin {
    width: 20%;
    border: solid black 5px;
    align-self: center;
}

#Ltext{
    text-decoration: none;
    border: none;
    background-color:#E19F8E;
    padding: 10px;
    color: #000e02;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    max-width: 150px; 
    text-align: center;
}

.home_links{
    text-align: center;
    margin-bottom: 10px;
}

#paper{
    height: 100px;
    width: auto;
    padding: 10px;
}

/*Full Program Page*/
#ctable{
    border-spacing: 5px; 
    width: 100%;
}

#ctable tr:nth-child(odd){
    background-color: #172214;
    color: #fff1d6;
}

#ctable th{
    background-color: #728560;
    color: #fff1d6;
}

 #ctable tr:nth-child(even){
    color: black;
}

#subtext{
    margin-left: 25px;
    margin-right: 25px; 
}

/*Full-Sized Projects Page*/ 
.sub{
    color: #fff1d6;
    background-color: #728560;
    min-width: 150px;
    max-width: 500px; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px 0;
    align-self: center;
    padding: 20px;
    margin: 5px;
}

.comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.comp_border{
    border: solid black 5px;
    margin: 25px; 
}

.comp_border1{
    border: solid black 5px;
    margin: 25px;
    margin-top: 10px;
}

#comp_title{
    text-decoration: none;
    border: none;
    background-color: #DB8A76;
    color: black;
    text-align: center; 
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -1px;
    border-bottom: solid 5px;
    font-size: 16pt;
}

.artifacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.Ar_title{
    text-decoration: none;
    border: none;
    background-color: #728560;
    padding: 10px;
    color: #fff1d6;
    margin: auto;
    max-width: 200px; 
    text-align: center;
    }

.linkset{
    display: flex;
    justify-content: center;
}

th{
    text-align: center;
}

td{
    text-align: left; 
}

#ptable{
    border-spacing: 5px; 
    width: 100%; 
    margin-bottom: 50px;
    margin-top: 50px; 
}

table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
    padding: 15px; 
}

#ptable tr:nth-child(odd){
    background-color: #172214;
    color: #fff1d6;
}

#ptable th{
    background-color: #728560;
    color: #fff1d6;
}

 #ptable tr:nth-child(even){
    color: black;
}

#pcaption{
    font-weight: bold;
    font-size: 14pt; 
    padding: 5px; 
}

    /*Full-Sized Digital Media Page*/
    .videothumb{
        text-align: center;
    }

/* Work Projects Template
.CL_lefttext, .BBL_lefttext, .DM_lefttext{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#CL_logo, #DNA, #Gecko{
    width: 30%;
    height: 30%;
    border: solid black 2px; 
}

#CL-Program{
    margin-top: 0px;
}
*/

/*Full-Sized Reflection.html Page*/

.text p#p1::first-letter{
    font-weight: bold;
    color: #d0684e;
    font-size: 30px;
    }

p#p2, p#p3, p#p4, p#p5{
    text-indent: 50px;
    }

#rh2{
    margin: 0px
}

/*Full-Sized Contact.html Page*/

form{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: bold; 
    width: 500px;  
    align-self: center;
    margin: 25px; 
}

#firstname, #lastname, #email{
    width: 500px;
    height: 30px; 
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px; 
    padding: 5px; 
}

#message{
    width: 500px;
    height: 200px; 
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px;
    padding: 5px; 
}

button{
    width: 100px;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    margin: 10px; 
    background-color:#DB8A76;
    color: black;
}


/*Responsive Media*/

@media screen and (max-width:992px){
    /*992 Home Page*/
    .hbaseline{
        display: flex;
        justify-content:center;
        padding-bottom: 10px;
        height: 50px;
        align-items:center;  
    }

    .content-box{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 85%;
    }

    /*992 Projects Page*/
    #CL_logo{
        display: none;
    }

    #DNA{
    display: none;
    }

    #Gecko{
    display:none;  
    }

    #pcaption{
        font-size: 16pt;
    }
}

@media screen and (max-width:640px){
    /*640 Home Page*/
    .hbaseline{
        font-size: 2.5vw;
    }

    .content-box{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 85%;
    }
}